* {
  background-color: #011725;
  color: white;
}

.league {
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr;
  border: 1px solid #495458;
  width: 350px;
  height: 500px;
}
 .league h3 {
   text-align: center;

 }
.league li {
  list-style: none;
  margin: 0 15px 0 15px;
}

.image {
  border: 1px solid #495458;
  width: 150px;
  height: 150px;
  margin: auto;
}

button {
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(0deg, #755931, #D3CAA1);
  background-origin: border-box;
  color: #11FFF6;
  font-weight: bold;
  box-shadow: 2px 1000px 1px #021825 inset;
  height: 35px;
  letter-spacing: 2px;
}